.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: lightgreen;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.toggle-slider {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition: transform 0.3s, background-color 0.3s;
}

.toggle-switch.on .toggle-slider {
  transform: translateX(30px);
}

.toggle-label {
  color: black;
  margin: 0 5px;
  font-weight: bold;
  text-align: end;
  white-space: nowrap;
}
